@use "abstracts/variables" as variable;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: variable.$primary;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  //justify-content: center;
  align-items: center;
}

@import "components/main", "components/aside", "components/section";
@import "components/header", "components/article", "components/responsive";
