@media screen and (max-height: 768px) {
  aside {
    height: 768px;

    .content {
      height: 100%;
      .inf {
        height: 10%;
        margin-top: 15px;
        margin-bottom: 35px;
        .social-media {
          gap: 0px;
          a {
            ion-icon {
              margin-top: 0;
              font-size: 30px;
            }
          }
        }
      }
      .contact {
        height: 55%;
        gap: 0px;
      }
      .img {
        width: 8em;
        height: 8em;
        margin-top: -5em;
      }
    }
  }
  .about {
    .skills .skill .skill-content .skill-content-item {
      width: 6.7em;
      height: 6.7em;
    }
    .about-content {
      .img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
