@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100vw;
}

main {
  display: flex;
  width: 100vw;
  background-image: linear-gradient(-225deg, #1c7f9e 0%, #afe8f2 48%, #79d5e7 100%);
}

aside {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: static;
  padding: 7% 0.5% 1% 2%;
}
aside .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 98%;
  position: relative;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.5);
}
aside .content .img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  margin-top: -75px;
}
aside .content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
aside .content .inf {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}
aside .content .inf h1 {
  font-size: 30px;
}
aside .content .inf h2 {
  font-size: 18px;
}
aside .content .inf .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
aside .content .inf .social-media a {
  text-decoration: none;
  color: black;
}
aside .content .inf .social-media a ion-icon {
  margin-top: 15px;
  font-size: 35px;
  transition: ease 0.5s;
}
aside .content .inf .social-media a ion-icon.in:hover {
  color: rgb(14, 118, 168);
  transform: scale(1.3);
}
aside .content .inf .social-media a ion-icon:hover {
  transform: scale(1.3);
}
aside .content .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  gap: 15px;
  border-radius: 15px;
  background: rgba(245, 245, 245, 0.6);
  width: 85%;
  height: 55%;
  padding: 30px;
}
aside .content .contact .contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}
aside .content .contact .contact-info a {
  text-decoration: none;
  color: black;
}
aside .content .contact .contact-info .icon {
  width: 35px;
  height: 35px;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 25px;
  transition: ease 0.5s;
}
aside .content .contact .contact-info .icon-phone {
  color: rgb(245, 108, 108);
}
aside .content .contact .contact-info .icon-phone:hover {
  background: rgb(245, 108, 108);
  color: whitesmoke;
}
aside .content .contact .contact-info .icon-mail {
  color: rgb(110, 108, 245);
}
aside .content .contact .contact-info .icon-mail:hover {
  background: rgb(110, 108, 245);
  color: whitesmoke;
}
aside .content .contact .contact-info .icon-location {
  color: rgb(229, 108, 245);
}
aside .content .contact .contact-info .icon-location:hover {
  background: rgb(229, 108, 245);
  color: whitesmoke;
}
aside .content .contact .contact-info .icon-birthday {
  color: rgb(16, 95, 0);
}
aside .content .contact .contact-info .icon-birthday:hover {
  background: rgb(16, 95, 0);
  color: whitesmoke;
}
aside .content button {
  background: #5D9FFF;
  color: whitesmoke;
  border: none;
  width: 150px;
  height: 45px;
  margin: 45px;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease 0.1s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
aside .content button ion-icon {
  font-size: 50px;
  transform: translateY(50px);
  position: relative;
  transition: transform 0.3s ease;
}
aside .content button span {
  font-size: 18px;
  transform: translateY(11px);
  position: relative;
  transition: transform 0.3s ease;
}
aside .content button:hover {
  background: #6BBBFF;
}
aside .content button:hover span {
  transform: translateY(-25px);
}
aside .content button:hover ion-icon {
  transform: translateY(-12px);
}
aside .content button:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
  transform: scale(0.95);
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
section {
  width: 75%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  padding: 1.2% 0 0 2%;
}
header .logo {
  width: 25%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 100%;
  object-fit: cover;
}
header .nav-bar {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-right: 50px;
}
header .nav-bar .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  position: relative;
}
header .nav-bar .nav-links .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  background-color: rgba(245, 245, 245, 0.5);
  transition: ease 0.2s;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  border-radius: 15px;
  gap: 5px;
}
header .nav-bar .nav-links .nav-link #open-folder {
  position: absolute;
  opacity: 0;
}
header .nav-bar .nav-links .nav-link #close-folder {
  position: absolute;
}
header .nav-bar .nav-links .nav-link p {
  position: absolute;
  margin-top: 30px;
}
header .nav-bar .nav-links .nav-link ion-icon {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease;
  margin-top: -20px;
}
header .nav-bar .nav-links .nav-link:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(245, 245, 245, 0.8);
}
header .nav-bar .nav-links .nav-link:hover #close-folder {
  animation: opacityOff 0.5s ease;
  opacity: 0;
}
header .nav-bar .nav-links .nav-link:hover #open-folder {
  animation: opacityOn 0.5s ease;
  opacity: 1;
}
header .nav-bar .nav-links .nav-link:hover:not(:hover) #close-folder {
  opacity: 0;
  animation: opacityOn ease-in-out forwards;
}
header .nav-bar .nav-links .nav-link:hover:not(:hover) #open-folder {
  opacity: 1;
  animation: opacityOff ease-in-out forwards;
}
header .nav-bar .nav-links:hover > .nav-link:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.about {
  width: 100%;
  height: 84.4%;
  border-radius: 15px;
}

/*# sourceMappingURL=index.css.map */
