@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100vw;
}

main {
  display: flex;
  width: 100vw;
  background-color: rgba(70, 125, 177, 0.8352941176);
}

aside {
  width: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: static;
  padding: 7% 0.5% 1% 2%;
}
aside .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 98%;
  position: relative;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.2);
}
aside .content .img {
  width: 10em;
  height: 10em;
  border-radius: 15px;
  overflow: hidden;
  margin-top: -6em;
}
aside .content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
aside .content .inf {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2em;
}
aside .content .inf h1 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.7);
}
aside .content .inf h2 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
}
aside .content .inf .social-media {
  display: flex;
  justify-content: center;
  gap: 1em;
}
aside .content .inf .social-media a {
  text-decoration: none;
  color: black;
}
aside .content .inf .social-media a ion-icon {
  margin-top: 1em;
  font-size: 35px;
  transition: ease 0.5s;
  color: rgba(0, 0, 0, 0.7);
}
aside .content .inf .social-media a ion-icon.in:hover {
  color: rgb(14, 118, 168);
  transform: scale(1.3);
}
aside .content .inf .social-media a ion-icon:hover {
  transform: scale(1.3);
}
aside .content .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  border-radius: 15px;
  background: rgba(245, 245, 245, 0.6);
  width: 85%;
  height: 55%;
  padding: 2em;
  color: rgba(0, 0, 0, 0.7);
}
aside .content .contact .contact-info {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1em 0;
}
aside .content .contact .contact-info a {
  text-decoration: none;
  color: black;
}
aside .content .contact .contact-info .icon {
  width: 1.5em;
  height: 1.5em;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 25px;
  transition: ease 0.5s;
}
aside .content .contact .contact-info .icon-phone {
  color: rgb(245, 108, 108);
}
aside .content .contact .contact-info .icon-phone:hover {
  background: rgb(245, 108, 108);
  color: whitesmoke;
}
aside .content .contact .contact-info .icon-mail {
  color: rgb(110, 108, 245);
}
aside .content .contact .contact-info .icon-mail:hover {
  background: rgb(110, 108, 245);
  color: whitesmoke;
}
aside .content .contact .contact-info .icon-location {
  color: rgb(229, 108, 245);
}
aside .content .contact .contact-info .icon-location:hover {
  background: rgb(229, 108, 245);
  color: whitesmoke;
}
aside .content .contact .contact-info .icon-birthday {
  color: rgb(16, 95, 0);
}
aside .content .contact .contact-info .icon-birthday:hover {
  background: rgb(16, 95, 0);
  color: whitesmoke;
}
aside .content button {
  background: #2a4f79;
  color: whitesmoke;
  border: none;
  width: 12em;
  height: 4em;
  margin: 2em;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
aside .content button #cloud {
  font-size: 25px;
  transform: translateY(50px);
  position: relative;
  transition: transform 0.3s ease;
}
aside .content button span {
  font-size: 18px;
  transform: translateY(11px);
  position: relative;
  transition: transform 0.3s ease;
}
aside .content button:hover {
  background: #ee943f;
}
aside .content button:hover span {
  transform: translateY(-25px);
}
aside .content button:hover #cloud {
  transform: translateY(-12px);
}
aside .content button:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
  transform: scale(0.95);
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
section {
  width: 75%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  padding: 1.2% 0 0 2%;
}
header .logo {
  width: 25%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo img {
  width: 100%;
  object-fit: cover;
}
header .nav-bar {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.2em;
}
header .nav-bar .nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  position: relative;
}
header .nav-bar .nav-links .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  background-color: rgba(245, 245, 245, 0.2);
  transition: ease 0.2s;
  cursor: pointer;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  border-radius: 15px;
}
header .nav-bar .nav-links .nav-link #open-folder {
  position: absolute;
  opacity: 0;
}
header .nav-bar .nav-links .nav-link #close-folder {
  position: absolute;
}
header .nav-bar .nav-links .nav-link p {
  position: absolute;
  margin-top: 3em;
}
header .nav-bar .nav-links .nav-link ion-icon {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.5s ease;
  margin-top: -0.8em;
}
header .nav-bar .nav-links .nav-link:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(245, 245, 245, 0.8);
}
header .nav-bar .nav-links .nav-link:hover #close-folder {
  animation: opacityOff 0.5s ease;
  opacity: 0;
}
header .nav-bar .nav-links .nav-link:hover #open-folder {
  animation: opacityOn 0.5s ease;
  opacity: 1;
}
header .nav-bar .nav-links .nav-link:hover:not(:hover) #close-folder {
  opacity: 0;
  animation: opacityOn ease-in-out forwards;
}
header .nav-bar .nav-links .nav-link:hover:not(:hover) #open-folder {
  opacity: 1;
  animation: opacityOff ease-in-out forwards;
}
header .nav-bar .nav-links:hover > .nav-link:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.art {
  width: 100%;
  position: relative;
  height: 84.4%;
}

.about {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 1em 2em 0 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}
.about .about-content {
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 15px;
  display: flex;
  width: 100%;
  height: 37%;
  padding: 1em;
  justify-content: space-evenly;
}
.about .about-content .about-content-text {
  width: 80%;
  font-size: 17px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.7);
}
.about .about-content .about-content-text p {
  font-size: 25px;
  font-weight: bold;
}
.about .about-content .img {
  overflow: hidden;
  object-fit: cover;
  width: 15%;
}
.about .about-content .img img {
  width: 100%;
}
.about .skills {
  display: flex;
  gap: 2.2%;
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
}
.about .skills .skill {
  background-color: rgba(245, 245, 245, 0.2);
  width: 48.9%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
}
.about .skills .skill p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  font-weight: bold;
}
.about .skills .skill .skill-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.about .skills .skill .skill-content .skill-content-item {
  position: relative;
  padding: 1em;
  width: 10em;
  height: 10em;
  background-color: rgba(70, 125, 177, 0.8352941176);
  border-radius: 15px;
  object-fit: cover;
  cursor: pointer;
  transition: ease 0.2s;
  display: flex;
  justify-content: center;
}
.about .skills .skill .skill-content .skill-content-item .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 3em;
  background-color: rgba(238, 148, 63, 0.737254902);
  border-radius: 15px;
  color: white;
  text-align: center;
  opacity: 0;
  margin-top: -4.5em;
  font-weight: bold;
}
.about .skills .skill .skill-content .skill-content-item #high {
  width: auto;
  height: 100%;
}
.about .skills .skill .skill-content .skill-content-item:hover {
  transform: scale(1.1);
  background-color: rgba(245, 245, 245, 0.5);
}
.about .skills .skill .skill-content .skill-content-item:hover .info {
  animation: opacityOn 0.5s ease;
  opacity: 1;
}
.about .skills .skill .skill-content .skill-content-item img {
  width: 100%;
  border-radius: 15px;
}
.about .skills .skill .skill-content:hover > .skill-content-item:not(:hover) {
  filter: blur(5px);
  transform: scale(0.9, 0.9);
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
